//
//
// bo - estilos especiales
//
//



// Helpers
a:active,
a:hover{text-decoration: none}

.tcenter{text-align: center !important;}
.tright{text-align: right;}
.air{
	margin: @line-height-computed 0;
}

.shadow{
	.longShadowBox(@shadow-color, @shadow-length, 100);
}
.color{color: @brand-primary}
.uc{text-transform: uppercase;}

// HEADING FEATURED IMAGE

.attachment-post-thumbnail{
	margin: 0;
	width: 100% !important;
	height: auto;
}




// Index

// Edit Section
.edit{
	position: fixed;
	text-align: center;
	text-align-last: center;
	display: inline-block;
	width: 85px;
	right: 5%;
	z-index: 9;
}

.link-ayuda{
	font-family: @font-family-sans-serif;
	background-color: @white;
	display: inline-block;
	clear: both;
	font-size: 16px;
	padding: .2ex 1ex;
	margin-top: 1.5em;
	border-radius: 4px;
	&:hover{
		background-color: @yellow;
		color: @white;
	}
}

.post-edit-link{
	display: inline-block;
	z-index: 2000;
	font-family: "Stampa";
	font-weight: 200;
	background-color: @white;
	border-radius: 50%;
	text-align: center;
	font-size: 32px;
	line-height: 64px;
	.size(64px, 64px);
	&:hover{
		background-color: @brand-primary;
		color: @white;
	}
	&:active{
		text-decoration: none;
	}
}


#container{
	background-color: @container-gray;
}

.aftershadow{
	background-color: fade(@shadow-color, 40);
	padding: @line-height-computed;
	margin-top: -20px;
}



// tags


.labels{
	line-height: 80%;
	font-size: 12px;
	margin-top: 3em;
	font-family: @font-family-sans-serif;
	// text-align: right;
}

.label{
	display: inline-block;
	white-space: nowrap;
	background-color: fade(@shadow-color, 50);
	color: darken(@shadow-color, 30);
	font-weight: 600;
	text-shadow: 1px 1px 0 0 darken(@shadow-color, 30);
	padding: .1ex .5ex;
	text-decoration: none;
	text-transform: lowercase;
	border-radius: 3px;
	margin: 0 1px 1px 0;
	&:hover{
		color: @white;
		text-decoration: none;
		background-color: @brand-primary
	}
}

.label-sm{
	display: inline-block;
	margin: 0 1px 1px 0;
	font-size: .75em;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 900;
	color: darken(@shadow-color, 50);
}

a[rel="category"]{
	.label;
	background-color: darken(@shadow-color, 10);
	color: @white;
}


// Para los archivos

.entry-footer{
	font-family: @font-family-sans-serif;
	font-weight: 700;
}
// Forms

.form-control{
	box-shadow: none;
}

p.form-allowed-tags code{
	display: inline-block;
	white-space: pre-wrap;
}

input[type='submit']{
	.btn;
	.btn-primary;
}

.form-control{
	transition: all ease .3s;
	margin: 0;
	// display: inline-block;
	&:focus{
		transition: all ease .3s;
		// margin: -@shadow-length-px @shadow-length-px @shadow-length-px -@shadow-length-px !important;
		// .longShadowBox(@shadow-color, @shadow-length, 100) !important;
	}
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment{
	.form-group;
	label{
		font-weight: normal;
		font-size: 1em;
		font-family: @font-family-serif;
	}
	input,
	textarea{

		.form-control;
		&:focus{
			
		}
	}
	textarea{
		min-height: 200px;
	}
}


// Commments

#comments-list{
	ul{
		padding-left: 0;
		li.comment{
			background-color: fade(@white, 30);
			padding: @well-padding;
			list-style-type: none;
			.longShadowBox(@shadow-color, @shadow-length/2);
			margin-bottom: @shadow-length-px;
			.comment-author{
				float: left;
				padding: 3px;
				background-color: @white;
				margin: 0 1ex 0 0;
				cite.fn{display: none;}
				.says{display: none;}
			}
			.comment-meta{
				font-size: 0.8;
				text-transform: lowercase;
			}
			.reply{
				text-align: right;
				a.comment-reply-link{
					.label;
				}
			}
		}
	}
}



.flip{
	display: inline-block;
	.scaleX(-1);
}

.sm{
	font-size: .85em;
}


strong{
	color: @black;
}

.container{
	margin-top: 80px;
}

header{
	.container{
		margin-top: 0;
	}
	
	.entry-title,
	h2{
		font-weight: lighter;
	}
	
	.category-title{
		text-align: center !important;
		font-size: 2em;
		border-bottom: 1px solid transparent;
	}
}

.header{
	margin-bottom: 1em;
}

#direct ul{
	list-style: none;
	padding-left: 0;

	li{
		padding-bottom: 10px;
	}
}

.white{
	background-color: @white;
}

.img-obra{
	height: 160px;
	text-align: center;
	text-align-last: center;
	overflow: hidden;
	img{
		width: 100%;
		height: auto;
	}
}

.overtitle{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 8;
	text-align: center;
	background-color: @white;
	.transition(opacity 2.5s ease-in-out);
	h3{
		color: @yellow;
		font-weight: 400;
		font-size: 13px;
		letter-spacing: .2ex;
		line-height: 18px;
		display: inline-block;
		margin: 15%;
	}

	&:hover{
		opacity: 0;
		
	}
}

.direccion{
	background-image: url(http://www.amereida.cl/wp-content/archivos/2015/08/fondo1.jpg);
	background-origin: middle;
	background-position: center;
	text-align:center;
	-moz-text-align-last: center;
	-webkit-text-align-last: center;
	-o-text-align-last: center;
	display: block;
	width: 119%;
	margin: 20px -9.5%!important;
	padding: 5em 0;

	p{
		color: @white;
		font-weight: 300;
		font-style: italic;
	}
}

// Responsive 
// ----------

// Extra small screen / phone
@media(max-width: @screen-xs-max){
}

// Phones and Tablets
@media(max-width: @screen-sm-max){

}

// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){
}

// Medium screen / desktop
@media (min-width: @screen-md) and (max-width: @screen-md-max){
}

// Large screen / wide desktop
@media (min-width: @screen-lg){
}


