//
//
// bo - estilos especiales
//
//

a:active,
a:hover{text-decoration: none}

// Helpers

.tcenter{text-align: center !important;}
.tright{text-align: right;}
.air{
	margin: @line-height-computed 0;
}

.shadow{
	.longShadowBox(@shadow-color, @shadow-length, 100);
}
.color{color: @brand-primary}
.uc{text-transform: uppercase;}


// Navbar
.navbar{
	font-family: @font-family-sans-serif;
	font-weight: 800;
	margin-bottom: @shadow-length-px * 3;
	.navbar-nav > .open > a{
	}
	.clearfix();
	overflow-y: visible;
}

.navbar-toggle{
	float: none;
}


.iso{
	width: 200px;
	height: auto;
}


#nav-below{
	margin: 1ex 0 0 0;
	font-family: @font-family-sans-serif;
	a{
		color: fade(@gray-dark, 30);
		.btn-xs;
		text-transform: uppercase;
		font-weight: 700;
	}
}

// Index

.post-edit-link{
	display: inline-block;
	position: absolute;
	z-index: 2000;
	top: 200;
	right: 15%;
	font-family: "Stampa";
	font-weight: 200;
	background-color: @white;
	border-radius: 50%;
	color: fade(@link-color, 40);
	text-align: center;
	font-size: 24px;
	line-height: 63px;
	.size(64px, 64px);
	&:hover{
		background-color: @brand-primary;
		color: @white;
	}
	&:active{
		text-decoration: none;
	}
}



// Single and general content

.huge{
	font-size: 2.5em;
	font-family: @font-family-serif;
	.hyphens(auto);
	//.longShadow(@gray-lighter, 12);
	font-weight: 100;
	color: @brand-primary;
	//text-transform: uppercase;
	letter-spacing: -.021ex;
	margin: 2ex 0;
}


.huge-entry-title{
	/* for pages only */
	font-family: @font-family-serif;
	font-size: 3.5em;
	font-weight: 100;
	letter-spacing: -.1ex;
	margin: 0;
	position: relative;
	z-index: @zindex-dropdown - 100;
}

.category-title,
.tag-title{
	font-weight: 300;
	font-size: 2.1em;
}

.page-entry-title{
	font-weight: lighter;
	margin: 2ex 0px 2.5ex 0;
	text-transform: uppercase;
	color: fade(@gray-dark, 30);
	letter-spacing: .2ex;
	word-spacing: .5ex;
	font-size: 1em;
}

section.content-entry:first-child,
section.entry-content:first-child{
	&:first-of-type:first-letter{
	display: inline-block;
	font-family: @font-family-serif;
	float: left;
	font-weight: 900;
	margin: 8px 10px 0 0px;
	font-size: 3.2em !important;
	line-height: .75em;
	color: @gray-dark; 
	}
	p, ul, ol{
		color: fade(@gray-dark, 50); 
	}
}

.entry-content{
	.wp-caption{
		&:first-child{
			margin-top: -(@well-padding + 1);
			img{margin-top: 0;}
		}
	}
}


section.content-entry,
section.entry-content{
	font-weight: 300;
	line-height: 1.6;
	text-align: justify;
	text-justify: distribute;
	word-spacing: normal;
	.hyphens(auto);
	-moz-text-align-last: left; /* Code for Firefox */
    text-align-last: left;
}


#footer{
	text-align: center;
	font-size: .8em;
	padding: 2em 0 3em 0;
	a{
		color: fade(@black, 60) !important;
	}
}


.aftershadow{
	background-color: fade(@shadow-color, 40);
	padding: @line-height-computed;
	margin-top: -20px;
}



// tags

.labels{
	line-height: 80%;
	font-family: @font-family-sans-serif;
	// text-align: right;
}

.label{
	display: inline-block;
	font-size: 0.7em;
	white-space: nowrap;
	background-color: fade(@shadow-color, 50);
	color: darken(@shadow-color, 30);
	font-weight: 600;
	text-shadow: 1px 1px 0 0 darken(@shadow-color, 30);
	padding: 0.5ex 1ex .2ex;
	background-position: 100% 50% ;
	background-repeat: no-repeat;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 1px 1px 0;
	&:hover{
		color: @white;
		text-decoration: none;
		background-color: @brand-primary
	}
}

.label-sm{
	display: inline-block;
	margin: 0 1px 1px 0;
	font-size: .75em;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 900;
	color: darken(@shadow-color, 50);
}

a[rel="category"]{
	.label;
	background-color: darken(@shadow-color, 10);
	color: @white;
}


// Para los archivos

.entry-footer{
	font-family: @font-family-sans-serif;
	font-weight: 700;
}
// Forms

.form-control{
	box-shadow: none;
}

p.form-allowed-tags code{
	display: inline-block;
	white-space: pre-wrap;
}

// for contact form 7 plugin, leave sizes the same
.wpcf7-form{
	.form-group{
		label{font-size: .6em !important}
	}
}

input[type='submit']{
	.btn;
	.btn-primary;
}

.form-control{
	transition: all ease .3s;
	margin: 0;
	// display: inline-block;
	&:focus{
		transition: all ease .3s;
		// margin: -@shadow-length-px @shadow-length-px @shadow-length-px -@shadow-length-px !important;
		// .longShadowBox(@shadow-color, @shadow-length, 100) !important;
	}
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment{
	.form-group;
	label{
		font-weight: normal;
		font-size: 1em;
		font-family: @font-family-serif;
	}
	input,
	textarea{

		.form-control;
		&:focus{
			
		}
	}
	textarea{
		min-height: 200px;
	}
}

// Commments

#comments-list{
	ul{
		padding-left: 0;
		li.comment{
			background-color: fade(@white, 30);
			padding: @well-padding;
			list-style-type: none;
			.longShadowBox(@shadow-color, @shadow-length/2);
			margin-bottom: @shadow-length-px;
			.comment-author{
				float: left;
				padding: 3px;
				background-color: @white;
				margin: 0 1ex 0 0;
				cite.fn{display: none;}
				.says{display: none;}
			}
			.comment-meta{
				font-size: 0.8;
				text-transform: lowercase;
			}
			.reply{
				text-align: right;
				a.comment-reply-link{
					.label;
				}
			}
		}
	}
}


.flip{
	display: inline-block;
	.scaleX(-1);
}



// Responsive 
// ----------

// Extra small screen / phone
@media(max-width: @screen-xs-max){
}

// Phones and Tablets
@media(max-width: @screen-sm-max){

}

// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){
}

// Medium screen / desktop
@media (min-width: @screen-md) and (max-width: @screen-md-max){
}

// Large screen / wide desktop
@media (min-width: @screen-lg){
}


