// FOOTER

#footer{
	
	font-size: 1em;
	a{
		color: fade(@black, 60) !important;
	}

	background: @blackboard;
	padding: 3em 0;
	margin-top: 50px;

	.container{
		margin-top: 0;
	}
}

.footer-container{

	color:@gray-lighter;

	h1,h2,h3,h4,h5,h6,p{
		color:@gray-lighter;
	}
}

.footer-container ul{
	padding: 0;
	list-style: none;
}

.footer-container li{
	color: @gray-lighter;
	padding-top: 15px;
	font-family: @font-family-sans-serif;
	font-weight: 100;
}

.footer-container a li:hover{
	color: @white;
}