//
//
// bo - media
//
//


// auxiliares

.aligncenter{
	text-align: center;
}

.alignright{
	float: right;
	margin: 1em 0 1em 1em;

}

.alignleft{
	float: left;
	margin: 1em 1em 1em 0;
}


// imágenes

.wp-caption{
	font-size: 13px;
	font-family: @font-family-sans-serif;
	display: block;
	margin: 0 -9.5% @line-height-computed -9.5%;
	width: 118% !important;

	.wp-caption-text{
		padding: 0 @well-padding;
		color: @gray-dark;
		font-weight: bold;
		margin: 0 0 @line-height-computed/2 0;
		text-indent: 0;
		padding-top:10px;
	}
}

.full-width{
	//margin: @line-height-computed/2 0;
	margin: 0;
	width: 100% !important;
	height: auto;
}


img.size-full,
img.size-large{
	.full-width;
}

img{
	&.size-full,
	&.size-large{
		.full-width;
	}
	&.alignleft{
		float: left;
		margin: 1em 1em 1em 0;
	}
	&.alignright{
		float: right;
		margin: 1em 0 1em 1em;
	}
}

// Gallery

#gallery-1,
.gallery{
	margin: 1em -9.5% 0 -9.5% !important;
	width: 104% !important;
	dl.gallery-item{
		margin: 0;
		dt.gallery-icon{
			margin: 0 0px -9px 1px;
			a{
				img.attachment-thumbnail{
					.filter(saturate(0));
					border-right: 1px solid @white;
					border-bottom: 1px solid @white;

				}
				&:hover{
					img{
						.filter(saturate(1));
					}
				}
			}
		}
	}
}

// Responsive 
// ----------

// Extra small screen / phone
@media(max-width: @screen-xs-max){
}

// Phones and Tablets
@media(max-width: @screen-sm-max){

}

// Small screen / tablet
@media (min-width: @screen-sm) and (max-width: @screen-sm-max){
}

// Medium screen / desktop
@media (min-width: @screen-md) and (max-width: @screen-md-max){
}

// Large screen / wide desktop
@media (min-width: @screen-lg){
}


