//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  .img-thumbnail();
  display: block; // Override the inline-block from `.img-thumbnail`
  margin-bottom: @line-height-computed;

  > img {
    .img-responsive();
    margin-left: auto;
    margin-right: auto;
  }

  // Add a hover state for linked versions only
  a&:hover,
  a&:focus,
  a&.active {
    border-color: @link-color;
  }

  // Image captions
  .caption {
    padding: @thumbnail-caption-padding;
    color: @thumbnail-caption-color;
  }
}

.thumbnail{
  background: @white;

    a{
      color:#514C5A; /* @gray-darker */
    }
    
    a:focus{
      text-decoration: none;
    }

    img{
      width: 100%;
    }
}

.thumbnail:hover{
  background: @sand;
}

.thumbnail-img{
  max-height: 200px;
  overflow: hidden;
}

.fecha{
  font-family: "Maven Pro";
  padding-bottom: 10px;
}

.caption h3{
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 15px;
  height: 60px;
  text-align: left;
  letter-spacing: 3px;
}

.caption p{
  font-size: 0.8em;
  min-height: 175px;
}

.vermas{
  color: @yellow;
  .hyphens(none);
}