// HEADINGS

h1,h2,h3,h4{
	text-transform: uppercase;
	margin-bottom: 0;
	padding-bottom: 30px;

}

h1{
	background: rgba(0,0,0,0.85);
	font-weight: 100;
	color: @white;
	text-transform: uppercase;
	width: 100%;
	padding-top: 17px;
	padding-left: 30px;
	letter-spacing: 7px;
	margin-bottom: 0;
	margin-top: 0!important;
	padding-bottom: 15px;
}

h2{
	padding-bottom: 20px;
	border-bottom: 1px solid @black;
	letter-spacing: 5px;
	margin-bottom: 50px;
	text-align: left!important;
	.hyphens(none)!important;
}

h3{
	font-weight: 100;
	letter-spacing: 5px;
	color: @yellow;
}

p{
	line-height: 2em;
}

// Contenido de páginas y posts

.page-title{
	font-family: @font-family-sans-serif;
	font-size: 2.5em;
	line-height: 5em;
	font-weight: 100;
	text-transform: uppercase;
	margin: 0;
	position: relative;
	z-index: @zindex-dropdown - 100;
	color: darken(@body-bg, 10);
	//.longShadow(@white, -1, 100);
	text-shadow: -2px -2px 1px #FFF;
	text-align: center;
}

.post-title{
	font-size: 2.5em;
	font-family: @font-family-serif;
	.hyphens(auto);
	font-weight: 100;
	color: @brand-primary;
	letter-spacing: -.021ex;
	margin: 2ex 0 0 0;
}

.post-date{
	font-weight: lighter;
	font-style: italic;
	font-size: 1.3em;
	line-height: 3em;
}


.category-title,
.tag-title{
	font-weight: 300;
	font-size: 2.1em;
}

.page-entry-title{
	font-weight: lighter;
	margin: 2ex 0px 2.5ex 0;
	text-transform: uppercase;
	color: fade(@gray-dark, 30);
	letter-spacing: .2ex;
	word-spacing: .5ex;
	font-size: 1em;
}

.entry-content{
	.wp-caption{
		font-size: 13px;
		&:first-child{
			margin-top: -(@well-padding + 1);
			img{margin-top: 0;}
		}
	}
}



.entry-content{
	font-weight: 300;
	line-height: 1.6;
	text-align: justify;
	text-justify: distribute;
	word-spacing: normal;
	.hyphens(auto);
	-moz-text-align-last: left; /* Code for Firefox */
    text-align-last: left;
    > p{
    	line-height: @line-height-computed * 1.5;
    	margin-top: @line-height-computed * 1.5;
    	text-align: justify;


	    }
	}

	strong{
		color: @black;
	}

	h3, h5{
		color: @brand-primary;
	}
	h1, h2, h3, h4, h5, h6{
		margin-top: 2em;
	}


.post-title{
	font-family: @font-family-sans-serif;
	color: @white;
	text-transform: uppercase;
	font-weight: 100;
	padding-top: 17px;
	padding-left: 30px;
	letter-spacing: 7px;
}