//
//
// bo - wells
//
//

// base

.well{
	.clearfix;
	min-height: 20px;
	position: relative;
	padding: @well-padding;
	background-color: @well-bg;
	border: 0px solid transparent;

	blockquote {
		padding-left: 3em;
		p{
			font-size: .8em;
			line-height: 1.6em;
		}
	}
}

// tamaños

.well-lg {
  padding: 24px;
  border-radius: @border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: @border-radius-small;
}


.well-transparent{
	position: relative;
	padding: @well-padding;
	overflow: hidden;
}

.anti-well{
	margin: -9.5% -9.5% -9.5% -9.5% !important;
	text-align: center;
	.max,
	img{
		width: 100%;
		height: auto;
		vertical-align: bottom;
	}
}

.anti-well-horizontal{
		margin: 0 -@well-padding;
}

.anti-well-title{
		position: relative;
		top: -58px;
		margin: -28px -9.5% -56px;
		width: 119%;
}

.anti-well-with-text{
	margin: -9.5% -9.5% 0 -9.5%;
	.max,
	img{
		width: 100%;
		height: auto;
	}
}
