/* NAVBAR */

body{
	background: #fff;
}

header{
	margin-bottom: 90px;
}

h1,h2{
	text-transform: uppercase;
}

h2{
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	font-weight: 100;
	letter-spacing: 5px;
	margin: 100px 0;
}

p{
	line-height: 2em;
}

.navbar-brand img{
	max-width: 120px;
}

.navbar-toggle{
	float:right;
	margin-top: 50px;
}

.dropdown-toggle{
	text-transform: uppercase;
	font-weight: 100;
}

.footer-container ul{
	padding: 0;
	list-style: none;
}

.footer-container li{
	color: #CDCFCF;
	padding-top: 15px;
	font-family: "Maven Pro";
	font-weight: 100;
}

.footer-container a li:hover{
	color: #FFF;
}

.jumbo-foto{
	position: relative;
}

h1{
	height: 60px;
	background: rgba(0,0,0,0.9);
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	padding-top: 20px;
	padding-left: 30px;
	letter-spacing: 7px;
}

.jumbo-foto h1{
	position: absolute;
	bottom: 0;
}

.btn-primary{
	font-family: "Maven Pro";
	letter-spacing: 5px;
	text-transform: uppercase;
	background: none;
	color: #b0821c;
	border: 2px solid;
	border-radius: 5px;
	width: 40%;
}

.btn-lg{
	margin: 70px 0;
}

form{
	font-family: "Maven Pro"
}

form input{
	border: 2px solid #b0821c !important;
}

form select{
	border: 2px solid #b0821c !important;	
}

form textarea{
	border: 2px solid #b0821c !important;
}