/* NAVBAR */

body{
	background: #fff;
}

strong{
	color: #000; /* @black */
}

.container{
	margin-top: 80px;
}

header{
	margin-bottom: 90px;
}

header .container{
	margin-top: 0;
}

h1,h2,h3{
	text-transform: uppercase;
}

h2{
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	font-weight: 100;
	letter-spacing: 5px;
	margin-bottom: 100px;
}

h3{
	font-weight: 100;
	color:#b0821c;
}

p{
	line-height: 2em;
}

/* NAVBAR */

.navbar-brand img{
	max-width: 120px;
}

.navbar-toggle{
	float:right;
	margin-top: 50px;
}

.dropdown-toggle{
	text-transform: uppercase;
	font-weight: 100;
}

/* FOOTER */

.footer-container ul{
	padding: 0;
	list-style: none;
}

.footer-container li{
	color: #CDCFCF; /* @brand-primery */
	padding-top: 15px;
	font-family: "Maven Pro";
	font-weight: 100;
}

.footer-container a li:hover{
	color: #FFF;
}

/* JUMBO FOTO */

.jumbo-foto{
	position: relative;
}

h1{
	height: 60px;
	background: rgba(0,0,0,0.85);
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	padding-top: 20px;
	padding-left: 30px;
	letter-spacing: 7px;
	margin-top: 100px;
}

.jumbo-foto h1{
	position: absolute;
	bottom: 0;
}

/* BOTONES */

.btn-primary{
	font-family: "Maven Pro";
	letter-spacing: 5px;
	text-transform: uppercase;
	background: none;
	color: #b0821c;
	border: 2px solid;
	border-radius: 5px;
	width: 35%;
}

.btn-lg{
	margin: 70px 0;
}

/* FORMULARIO */

form{
	font-family: "Maven Pro"
}

form input{
	border: 2px solid #b0821c !important;
}

form select{
	border: 2px solid #b0821c !important;	
}

form textarea{
	border: 2px solid #b0821c !important;
}

/* MÓDULOS NOTICIAS */

.thumbnail{
	background: #fff;
}

.thumbnail a{
	color:#514C5A; /* @gray-darker */
}

.thumbnail:hover{
	background: #CDCFCF; /* @gray-lighter */
}

.thumbnail-img{
	max-height: 250px;
	overflow: hidden;
}

.thumbnail img{
	width: 100%;
}

.fecha{
	font-family: "Maven Pro"
}

.caption{
	padding: 15px;
}

.caption h3{
	text-transform: none;
}

.caption p{
	font-size: 0.7em;
}