/* NAVBAR */

header{
	margin-bottom: 90px;
}

.navbar-brand img{
	max-width: 120px;
}

.navbar-toggle{
	float:right;
}

.dropdown-toggle{
	text-transform: uppercase;
	font-weight: 100;
}

.footer-container ul{
	padding: 0;
	list-style: none;
}

.footer-container li{
	color: #CDCFCF;
	padding-top: 15px;
	font-family: "Maven Pro";
	font-weight: 100;
}

.footer-container a li:hover{
	color: #FFF;
}

.jumbo-foto{
	position: relative;
}

.jumbo-foto h1{
	height: 60px;
	background: rgba(0,0,0,0.9);
	font-weight: 100;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	padding-left: 30px;
}